body {
            display: flex;
            justify-content: center;

        }

        main {
            border: solid black 5px;
            background-color: black;
            width: 1000px;
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        #box1 {
            height: 100px;
            width: auto;
            background-color: blue;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }

        #box2 {
            height: 50px;
            width: auto;
            background-color: blue;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #div1 {
            width: 600px;
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            margin: 0;
        }

        #box4 {
            height: 50px;
            background-color: rgb(223, 71, 71);
            align-items: center;
            display: flex;
            justify-content: center;

        }

        #box5 {
            height: 250px;
            background-color: bisque;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        #box3 {
            display: flex;
            justify-content: center;
            gap: 10px;
            align-items: center;
        }

        #div2 {
            width: 400px;
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }

        #box6 {
            height: 300px;
            background-color: lightgreen;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        #box7 {
            height: 300px;
            background-color: lightgreen;
            align-items: center;
            display: flex;
            justify-content: center;
        }

        #div3 {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 10px;
        }

        #box8 {
            width: 300px;
            height: 280px;
            align-items: center;
            background-color: bisque;
            display: flex;
            justify-content: center;
        }

        #box9 {
            width: 300px;
            height: 280px;
            align-items: center;
            background-color: bisque;
            display: flex;
            justify-content: center;
        }

        footer {
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
        }